<!DOCTYPE html>
<html>
<head>
    <mate charest="utf-8"/>
    <title>Hello world!</title>
</head>
<body>



<p>Kanton St. Gallen<br>
    Baudepartement</p>
<p>Amt für Wasser und Energie</p>
<h1>PV-Ersatzabgabe-Rechner: Erklärung</h1>
<p>für die Entrichtung einer Ersatzabgabe nach Art.5c des Energiegesetzes.</p>
<p>Neubauten erzeugen einen Teil der von ihnen benötigten Elektrizität selber oder haben einen gewichteten
    Energiebedarf für Heizung, Warmwasser, Lüftung und Klimatisierung, der um 5kWh je m² beheizte Fläche und Jahr
    verringert ist. Hauseigentümerinnen und Hauseigentümer, die auf die Eigenstromerzeugung oder die Verringerung des gewichteten
    Energiebedarfs verzichten, entrichten dem Kanton eine Ersatzabgabe. Die Ersatzabgabe beträgt Fr.2’700.–
    je kWp der für die Neubaute nach Art.4c Abs.1 der Energieverordnung (sGS 741.11; abgekürzt EnV) zu erstellenden
    Anlage. Sie wird mit den Baubewilligungsgebühren erhoben. Ausgenommen sind kleinere Erweiterungen bestehender
    Bauten (siehe Ausnahmen nach Art.4d EnV).</p>
<h2>A. Angaben zum Gebäude</h2>
<input type="text" value="St. Gallen"/>
<label>Gemeinde</label>
</body>
</html>
<style>
    input {
        border: none;
        border-bottom: 1px solid black;
    }

</style>
